.nftPageContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header{
    max-width: 1200px;
    height: 150px;
    padding: 30px;
    text-align: center;
}
.withdrawStyle{
    text-decoration: underline;
    color: aqua;
    padding-left: 14px;
    cursor: pointer;
    user-select: none;
}

.listContainer{
    display: grid;
    width: 70%;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 245px);
    grid-gap: 60px;
    padding-bottom: 50px;
}
.linkStyle{
    display: block;
    color: rgba(8, 102, 63, 0.938);
    text-decoration: underline;
    cursor: pointer;
}

.buyInfo{
    font-size: 14px;
    display: inline-block;
    padding: 0 7px;
    color: white;
}
/* 
.sellInfo{
    font-size: 14px;
    display: inline-block;
    padding: 0 7px;
    border-right: 1px solid black;
    color: white;
}

.statusInfo{
    font-size: 14px;
    padding: 0 7px;
    display: inline-block;
    color: rgba(212, 0, 255, 0.877);
    cursor: default;
} */

.buyInfoBlock{
    background: rgba(8, 102, 63, 0.938);
    padding: 4px;
    cursor: pointer;
}

.sellInfoBlock{
    background: rgba(255, 38, 0, 0.603);
    padding: 4px;
    cursor: pointer;
}



.cardContainer{
    width: 245px; 
    margin-top: 15px;
}
.pngContainer{
    width: 100%;
    max-height: 200px;
}
.nftPg {
    width: 100%;
    height: 200px
}
.infoContent{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}